<div class="separator bg-image"><div class="wavy"></div></div>
<footer>
  <div class="container">
    <div class="row footer-header">
      <div class="col center">
        <h3>
          Eleventy with <span class="candy-logo" style="color:#F7BCEF">Candy</span> ... <span style="color:#FFEEA6">S</span><span style="color:#CBEAA6">w</span><span style="color:#BCF4F5">e</span><span style="color:#FFEEA6">e</span><span style="color:#CBEAA6">t</span><span style="color:#BCF4F5">!</span>
        </h3>
        <hr>
      </div>
    </div>
    <div class="row footer-content">
      <div class="col-sm footer-col">
        <p>Eleventy is a easy-to-use static site generator written in JavaScript. It mixes templates, of many flavors, with Markdown to generate speedy websites.</p>
        <ul class="ul-no-bullets">
          <li><i class="fab fa-github"></i><a href="https://github.com/11ty/eleventy/">Eleventy</a></li>
          <li><i class="fab fa-twitter"></i><a href="https://twitter.com/eleven_ty">@eleven_ty</a></li>
        </ul>
      </div>
      <div class="col-sm footer-col">
        <p><span class="candy-logo">Candy</span> is a quick-start scaffold for building sites. It's Eleventy with sugar on top: Yarn, Gulp, Sass, Bootstrap, JQuery, PrismJS, Nunjucks, and more. </p>
        <ul class="ul-no-bullets">
          <li><i class="fab fa-github"></i><a href="https://github.com/stickhandle/eleventy-candy">Candy</a></li>
          <li><i class="fab fa-twitter"></i><a href="https://twitter.com/wernersiemens/">@wernersiemens</a></li>
        </ul>
      </div>
      <div class="col-sm footer-col">
        <p>The code for <span class="candy-logo">Candy</span> is maintained by <a href="https://www.wern.ca">Werner Siemens</a> on <a href="https://github.com/stickhandle/eleventy-candy">Github</a> and served to the world by <a href="https://www.netlify.com">Netlify</a>.</p>
        <p><a href="/feed.xml">Subscribe to a feed</a> of blog posts.</p>
      </div>
    </div>
  </div>
</footer>

