<div class="separator"><div class="wavy"></div></div>
<footer>
  <div class="container">
    <div class="row footer-header">
      <div class="col center">
        <h3>
          Eleventy with <span style="color:#F7BCEF">Candy</span> ... <span style="color:#FFEEA6">S</span><span style="color:#CBEAA6">w</span><span style="color:#BCF4F5">e</span><span style="color:#FFEEA6">e</span><span style="color:#CBEAA6">t</span><span style="color:#BCF4F5">!</span>
        </h3>
        <hr>
      </div>
    </div>
    <div class="row footer-content">
      <div class="col-sm">
        <ul class="ul-no-bullets">
          <li><i class="fab fa-github"></i><a href="https://github.com/11ty/eleventy/">Eleventy</a></li>
          <li><i class="fab fa-github"></i><a href="https://github.com/11ty/eleventy/">Candy</a></li>
        </ul>
      </div>
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
    </div>
  </div>
</footer>

