<header>
    <ul class="nav">
        <li>
            <a href="/">home<small>where the heart is</small></a>
        </li>
        <li>
            <a href="/about">about<small>all about this</small></a>
        </li>
    </ul>
</header>
<div class="separator"><div class="wavy"></div></div>