<div class="row">
    <div class="col">
        <h3><a class="title-href" href="{{ photo.url }}">{{ photo.data.title }}</a></h3>
    </div>
</div>
<div class="row">
    <div class="col postline">
        <div class="postdate" style="margin-left: 0px">
            <i class="fas fa-calendar-day"></i>
            <div>{{ photo.date | formatDisplayDate }}</div>
        </div>
    </div>
</div>
{%- if not photo.data.mainImageTitle  -%}
    {% set mainImageTitle = photo.data.mainImageFilename %}
{%- else -%}
    {% set mainImageTitle = photo.data.mainImageTitle %}
{%- endif -%}
{%- if not photo.data.mainImageAltText  -%}
    {% set mainImageAltText = mainImageTitle %}
{%- else -%}
    {% set mainImageAltText = photo.data.mainImageAltText %}
{%- endif -%}
<div class="row">
    <div class="col main-image">
        <a href="{{ photo.url }}">
            <img src="/images/{{ photo.data.mainImageFilename }}-{{ photo.data.thumbImageSize }}.{{ photo.data.mainImageExt }}" alt="{{ mainImageAltText | safe }}" title="{{ mainImageTitle | safe }}">
        </a>
    </div>
</div>
<div class="row">
    <div class="col postline">
        <div class="tags">
            {% for tag in photo.data.tags -%}
                {% if tag != "untagged" -%}
                    {% if loop.first %}<i class="fas fa-tags"></i>{% endif -%}
                    <div><a href="/tags/#{{ tag }}" class="tag">#{{ tag }}</a></div>
                {% endif -%}
            {% endfor -%}
        </div>
    </div>
</div>
