<div class="row">
    <div class="col widget-title">Favourite Posts</div>
</div>
<div class="row">
 {%- for star in collections.stars.slice(0, 2) %}
    {%- if star.url != page.url %}
        <a href="{{ star.url }}" class="col-12 col-md-6 col-lg-12 star-post-thumb">
            <div class="star-post h-100">
                {%- if star.data.mainImageFilename -%}
                    <div class="row">
                        <div class="col">
                            <img src="/images/{{ star.data.mainImageFilename }}-{{ star.data.thumbImageSize }}.{{ star.data.mainImageExt }}" alt="{{ star.data.mainImageTitle | safe }}" title="{{ star.data.mainImageTitle | safe }}">
                        </div>
                    </div>
                {%- else -%}
                    <div class="row">
                        <div class="col">
                            <img src="/images/no_image-400.jpg" alt="no image available" title="no image available">
                        </div>
                    </div>
                {%- endif -%}
                <div class="row">
                    <div class="col">
                        <div class="mini-h3">{{ star.data.title }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col postline">
                        <div class="postdate" style="margin-left: 0px">
                            <i class="fas fa-calendar-day"></i>
                            <div>{{ star.date | formatDisplayDate }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    {%- endif %}
{%- endfor %}
</div>