<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Courgette|Roboto+Mono|Roboto+Slab:400,700|Roboto:400,700" rel="stylesheet"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css" />
    {% set absolutePostUrl %}{{ page.url | url | absoluteUrl(metadata.url) }}{% endset %}
    <link rel="canonical" href="{{ absolutePostUrl }}" />
    {% set _title = headTitlePre + " " + title + " " + headTitlePost %}
    <title>{{ _title | replace("undefined","") | trim | truncate(60) | safe }}</title>
    {%- if not metaDescription  -%}
      {%- if not excerpt -%}
        {% set _metaDescription = title %}
      {%- else -%}
        {% if excerpt == "comment" -%}
          {% set _metaDescription = content | excerpt | striptags(true) %}
        {% elif excerpt == "custom" -%}
          {% set _metaDescription = customExcerpt %}
        {%- else -%}
          {% set _metaDescription = title %}
        {% endif %}
      {%- endif -%}
    {%- else -%}
      {% set _metaDescription = metaDescription %}
    {%- endif -%}
    <meta name="description" content="{{ _metaDescription | trim | truncate(280) | safe }}">
  </head>
  <body class="{{ bodyClass }}" >
    <div class="container-fluid">
      {% include "header.njk" %}
      <main class="{{contentContainerClass}} page-content" role="main">
        {{ content | safe }}
      </main>
      {% include "footer.njk" %}
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js" integrity="sha256-7/yoZS3548fXSRXqc/xYzjsmuW3sFKzuvOCHd06Pmps=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax.js/1.5.0/parallax.min.js"></script>
  <script src="/js/main.js"></script>
</html>



