---
layout: layouts/base.njk
bodyClass: candy-page
templateEngineOverride: njk, md
contentContainerClass: container
---
<div class="row">
  <div class="col">
    <h1 class="title">{{ title }}</h1>
  </div>
</div>
 {{ content | safe }}