---
layout: layouts/base.njk
bodyClass: candy-post
templateEngineOverride: njk, md
---
<div class="row">
  <div class="col">
    <h1 class="title">{{ title }}</h1>
  </div>
</div>
<div class="row">
  <div class="col postline">
    <div class="tags">
      {% for tag in tags -%}
        {% if tag != "untagged" -%}
          {% if loop.first %}<i class="fas fa-tags"></i>{% endif -%}
          <div><a href="/tags/#{{ tag }}" class="tag">#{{ tag }}</a></div>
        {% endif -%}
      {% endfor -%}
    </div>
    <div class="postdate">
      <i class="fas fa-calendar-day"></i>
      <div>Last updated on {{ page.date | formatDisplayDate }}</div>
    </div>
  </div>
</div>
{% if mainImageFilename %}
  {% if not mainImageTitle  %}
    {% set mainImageTitle = mainImageFilename %}
  {% endif %}
  <div class="row">
    <div class="col main-image">
      <img src="/images/{{ mainImageFilename }}-{{ mainImageSize }}.{{ mainImageExt }}" alt="{{ mainImageTitle | safe }}" title="{{ mainImageTitle | safe }}">
    </div>
  </div>
  <div class="row">
    <div class="col photoline">
      <div>{{ mainImageTitle | safe }}</div>
    </div>
  </div>
{% endif %}
<div class="row">
  <div class="col-lg-8 post-section">
    <div>{{ content | safe }}</div>
    {%- for simpost in collections.posts | similar(tags, page.url, 3) -%}
      {%- if loop.first -%}
        <div class="row"><div class="col widget-title">Related posts ...</div></div>
        <div class="row similar-posts">
      {%- endif -%}
          <div class="col-sm-4 col-similar-post">
            <div class="similar-post h-100">
              {%- if simpost.data.mainImageFilename -%}
                  <div class="row">
                      <div class="col">
                          <a href="{{ simpost.url }}">
                              <img src="/images/{{ simpost.data.mainImageFilename }}-{{ simpost.data.tinyImageSize }}.{{ simpost.data.mainImageExt }}" alt="{{ simpost.data.mainImageTitle | safe }}" title="{{ simpost.data.mainImageTitle | safe }}">
                          </a>
                      </div>
                  </div>
              {%- endif -%}
              <div class="row">
                  <div class="col">
                      <div class="mini-h3"><a href="{{ simpost.url }}">{{ simpost.data.title }}</a></div>
                  </div>
              </div>
              <div class="row">
                  <div class="col postline">
                      <div class="postdate" style="margin-left: 0px">
                          <i class="fas fa-calendar-day"></i>
                          <div>{{ simpost.date | formatDisplayDate }}</div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
      {%- if loop.last -%}
        </div>
      {%- endif -%}
    {%- endfor -%}
    <div class="row next-prev-row">
      <div class="col-6" style="padding-right: 0px">{% include "blog-previous.njk" -%}</div>
      <div class="col-6" style="padding-left: 0px">{% include "blog-next.njk" -%}</div>
    </div>
  </div>
  <div class="col-lg-4 sidebar-section">
    <div class="star-col-widget">
      <div class="row">
        <div class="col widget-title">Favourite Posts</div>
      </div>
      {%- include "star-list-col.njk" -%}
    </div>
    <div class="tag-col-widget">
      <div class="row">
        <div class="col widget-title">List of Tags</div>
      </div>
      {%- include "tag-list-col.njk" -%}
    </div>
  </div>
</div>

