---
layout: layouts/base.njk
bodyClass: candy-post
templateEngineOverride: njk, md
---
<div class="row">
  <div class="col">
    <h1 class="title">{{ title }}</h1>
  </div>
</div>
<div class="row">
  <div class="col postline">
    <div class="tags">
      {% for tag in tags -%}
        {% if tag != "untagged" -%}
          {% if loop.first %}<i class="fas fa-tags"></i>{% endif -%}
          <div><a href="/tags/#{{ tag }}" class="tag">#{{ tag }}</a></div>
        {% endif -%}
      {% endfor -%}
    </div>
    <div class="postdate">
      <i class="fas fa-calendar-day"></i>
      <div>Last updated on {{ page.date | formatDisplayDate }}</div>
    </div>
  </div>
</div>
{% if mainImageFilename %}
  {% if not mainImageTitle  %}
    {% set mainImageTitle = mainImageFilename %}
  {% endif %}
  <div class="row">
    <div class="col main-image">
      <img src="/images/{{ mainImageFilename }}-{{ mainImageSize }}.{{ mainImageExt }}" alt="{{ mainImageTitle | safe }}" title="{{ mainImageTitle | safe }}">
    </div>
  </div>
  <div class="row">
    <div class="col photoline">
      <div>{{ mainImageTitle | safe }}</div>
    </div>
  </div>
{% endif %}
<div class="row">
  <div class="col-8 post-section">
    <div>{{ content | safe }}</div>
    <div class="row next-prev-row">
      <div class="col-6" style="padding-right: 0px">{% include "blog-previous.njk" -%}</div>
      <div class="col-6" style="padding-left: 0px">{% include "blog-next.njk" -%}</div>
    </div>
  </div>
  <div class="col-4 sidebar-section">
    <div class="star-col-widget">
      <div class="row">
        <div class="col widget-title">Favourite Posts</div>
      </div>
      {%- include "star-list-col.njk" -%}
    </div>
    <div class="tag-col-widget">
      <div class="row">
        <div class="col widget-title">List of Tags</div>
      </div>
      {%- include "tag-list-col.njk" -%}
    </div>
  </div>
</div>

