// Breakpoints
$bp-xs: "(max-width: 575px)";
$bp-sm: "(min-width: 576px)";
$bp-md: "(min-width: 768px)";
$bp-lg: "(min-width: 992px)";
$bp-xl: "(min-width: 1200px)";

// Colours
$med-grey: #A2ABAB;
$yellow: #FFEEA6;
$green: #CBEAA6;
$pink: #F7BCEF;
$blue: #BCF4F5;

// Element color assignment
$text-color: #333;
$hX-color: #555;
$accent-color: #666;
$photoline-color: #000;
$tagline-color: #aaa;
$bg-page-color: #fff;
$bg-header-color: $yellow; 
$bg-code: #f5f7ff;
$bg-footer-color: $med-grey;
$bg-blog-list-item-odd: mix($blue, $bg-page-color, 20%);
$bg-star-col-widget: mix($blue, $bg-page-color, 20%);
$bg-tag-col-widget: mix($pink, $bg-page-color, 20%);

// Fonts
$body-font: 'Roboto', sans-serif;
$hX-font: Courgette, sans-serif; 
$code-font: 'Roboto Mono', monospace;
$tagline-font: 'Roboto Mono', 'Roboto', sans-serif;
$more-font: 'Roboto Mono', 'Roboto', sans-serif;
$photoline-font: 'Roboto Mono', 'Roboto', sans-serif;
$blockquote-person-font: 'Roboto Mono', 'Roboto', sans-serif;
$widget-title-font: 'Roboto', sans-serif;


