@import '_variables';
@import '_mixins';
@import '_prism-syntax';

::-moz-selection {
  background-color: $accent-color;
  color: $bg-page-color;
}
::selection {
  background-color: $accent-color;
  color: $bg-page-color;
}

body {
  background-color: $bg-page-color;
  color: mix($text-color, $bg-page-color, 80%);
  font-family: $body-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  @include bp(md) {
    font-size: 18px;
  }
}

.container-fluid {
  padding: 0px;
}

header {
  background-color: $bg-header-color;
}

.page-content {
  padding-bottom: 4em;
}

h1, h2, h3 {
  color: $hX-color;
  font-family: $hX-font;
  font-weight: 700;
  margin-top:0.8em;
  margin-bottom:0.5em;
  line-height: 1em;
}
h1 {
  font-size: 3em;
  @include bp(md) {
    font-size: 4em;
  }
  @include bp(xl) {
    font-size: 5em;
  }
}
h1.title {
  margin-top:0.5em;
  margin-bottom:0.1em;
}
h2 {
  font-size: 2em;
  @include bp(md) {
    font-size: 2.5em;
  }
  @include bp(xl) {
    font-size: 3.5em;
  }
}
h3 {
  font-size: 1.5em;
  @include bp(md) {
    font-size: 2em;
  }
  @include bp(xl) {
    font-size: 2.5em;
  }
}

p {
  margin-bottom: 1em;
}

div.postline, div.postline a {
  display: inline;
  color: mix($hX-color, $bg-page-color, 50%);
  font-family: $tagline-font;
  font-weight: 400;
  font-size: 14px;
  div {
    display: inline;
  }
}

div.postdate {
  margin-left: 10px;
  .fas {
    font-size: 16px;
    padding: 0px 5px;
  }
}

div.taglist-item .fas {
  padding: 0px 10px;
}

hr {
  margin: 20px;
  color: $hX-color;
  border: none;
  height: 1px;
  background-color: $hX-color;
}

.separator {
  background: $bg-page-color;
  height: 10px;
  position: relative;
  width: 100%;
  margin: 0;
}

.separator.bg-image {
  background: url(/images/candy_swirl-200.jpg) repeat-x center center;
}

.separator .zig-zag {
  height: 20px;
  background: url(/images/zig-zag-line.svg) repeat-x center center;
  position: absolute;
  top: -5px;
  width: 100%;
  z-index: 500;
}

.separator .wavy {
  height: 20px;
  background: url(/images/wavy-line.svg) repeat-x center center;
  position: absolute;
  top: -5px;
  width: 100%;
  z-index: 500;
}

.subtitle {
  margin-top: -3em;
  margin-bottom: 6em;
}

ul, ol {
  padding-left: 1em;
}

a:link, a:visited {
  color: $accent-color;
  text-decoration: none;
  border-bottom: solid 1px mix($text-color, $bg-page-color, 10%);
}
a:hover, a:focus {
  color: $text-color;
  border-bottom: solid 1px $accent-color;
}

.candy-logo, a.candy-logo, nav a.candy-logo:link {
  font-weight: bold;
  text-decoration: underline;
  font-family: $hX-font;
}

nav {
  a:link, a:visited {
    color: $text-color;
    text-decoration: none;
    border: none;
  }
  .fas, .fab, .far {
    padding-right: 5px;
    padding-left: 10px;
  }
  a:hover, a:focus {
    color: $med-grey;
  }
  a.navbar-brand {
    font-size: 1.7em;
    transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
  }
  a.navbar-brand:hover, a.navbar-brand:focus {
    color: $green;
  }

  button.navbar-toggler {
    outline-color: $med-grey;   
  }  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
}

.nav {
  padding-top: 2em;

  li {
    display: inline;
  }


  a:link, a:visited {
    display: inline-block;
    border-top: solid 1px mix($text-color,$bg-page-color, 60%);
    border-bottom-style: none;
    padding-top: 0.8em;
    padding-bottom: 2em;
    margin-left: 0;
    margin-right: 0.7em;
    width: 8em;
    text-align: left;
    color: mix($text-color,$bg-page-color, 80%);
    text-decoration: none;
  }
  a:hover, a:focus {
      color: $text-color;
      border-top: solid 1px $accent-color;
      border-bottom-style: none;
  }

  small {
    display: block;
    font-size: 0.7em;
    color: mix($text-color,$bg-page-color, 60%);
  }
}

code {
  font-family: $code-font;
  font-size: 0.8em;
  background-color:  $bg-code;
  border: 1px solid $accent-color;
  color: $text-color;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
}

code[class*="language-"] {
  font-family: $code-font;
}

pre {
  border: 1px solid $accent-color;
  code {
    border: none;
  }
}

.tag-counter-list {
  margin-bottom: 2em;
}

.tag-counter {
  margin: 0px 3px;
  border: 1px solid $text-color;
  background-color: $blue;
  display: inline-block;
  font-size: 0.7em;
  border-radius: 50%;
  width: 20px;
  line-height: 20px;
  text-align: center;
}

.center {
  text-align: center;
}

footer {
  padding-top: 2em;
  padding-bottom: 4em;
  background-color: $bg-footer-color;

  a:link, a:visited {
    color: mix($text-color, $bg-page-color, 70%);
    border-bottom: solid 1px mix($accent-color, $bg-page-color, 70%);
  }
  a:hover, a:focus {
    color: $accent-color;
    border-bottom: solid 1px $text-color;
  }
  .footer-header {
    hr {
      margin: 20px 0px;
    }
  }
  .footer-content {
    .footer-col {
      padding-left: 1em;
    }
    .ul-no-bullets {
      list-style-type: none;
      padding-left: 0px;
    }
    .fab {
      padding: 0px 10px 0px 0px;
    }
  }
}

