@import '_variables';
@import '_mixins';
@import '_prism-syntax';

* {
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background-color: $accent-color;
  color: $page-color;
}
::selection {
  background-color: $accent-color;
  color: $page-color;
}

html {
  background-color: $accent-color;
}

body {
  text-align: center;
  background-color: $page-color;
  color: mix($text-color, $page-color, 80%);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  @include bp(md) {
    font-size: 18px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: left;
}

h1, h2, h3 {
  color: $header-color;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  margin-top:0.8em;
  margin-bottom:0.5em;
  line-height: 1em;
}
h1 {
  font-size: 3em;
  @include bp(md) {
    font-size: 4em;
  }
  @include bp(xl) {
    font-size: 5em;
  }
}
h1.title {
  margin-top:0.5em;
  margin-bottom:0.1em;
}
h2 {
  font-size: 2em;
  @include bp(md) {
    font-size: 2.5em;
  }
  @include bp(xl) {
    font-size: 3.5em;
  }
}
h3 {
  font-size: 1.5em;
  @include bp(md) {
    font-size: 2em;
  }
  @include bp(xl) {
    font-size: 2.5em;
  }
}

p {
  margin-bottom: 1em;
}

div.postline, div.postline a {
  display: inline;
  color: mix($header-color, $page-color, 50%);
  font-family: 'Roboto Mono', 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  div {
    display: inline;
  }
}

div.postdate {
  margin-left: 10px;
  .fas {
    font-size: 16px;
    padding: 0px 5px;
  }
}

div.taglist-item .fas {
  padding: 0px 10px;
}

hr {
  margin: 20px;
  color: $header-color;
  border: none;
  height: 1px;
  background-color: $header-color;
}


.subtitle {
  margin-top: -3em;
  margin-bottom: 6em;
}

ul, ol {
  padding-left: 1em;
}

a:link, a:visited {
  color: $accent-color;
  text-decoration: none;
  border-bottom: solid 1px mix($text-color, $page-color, 10%);
}
a:hover, a:focus {
  color: $text-color;
  border-bottom: solid 1px $accent-color;
}

.nav {
  padding-top: 3em;

  li {
    display: inline;
  }

  a:link, a:visited {
    display: inline-block;
    border-top: solid 1px mix($text-color,$page-color, 60%);
    border-bottom-style: none;
    padding-top: 0.8em;
    padding-bottom: 2em;
    margin-left: 0;
    margin-right: 0.7em;
    width: 8em;
    text-align: left;
    color: mix($text-color,$page-color, 80%);
    text-decoration: none;
  }
  a:hover, a:focus {
      color: $text-color;
      border-top: solid 1px $accent-color;
      border-bottom-style: none;
  }

  small {
    display: block;
    font-size: 0.7em;
    color: mix($text-color,$page-color, 60%);
  }
}

code {
  font-size: 0.8em;
  background-color:  $bg-code;
  border: 1px solid $accent-color;
  color: $text-color;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
}

pre {
  border: 1px solid $accent-color;
  code {
    border: none;
  }
}

.tag-counter {
  margin: 0px 3px;
  border: 1px solid $text-color;
  background-color: $bg-code;
  display: inline-block;
  font-size: 0.7em;
  border-radius: 50%;
  width: 20px;
  line-height: 20px;
  text-align: center;
}

footer {
  margin-top: 6em;
  padding-top: 4em;
  padding-bottom: 6em;
  border-top: solid 1px mix($text-color, $page-color, 10%);
  font-size: 0.7em;
  color: mix($text-color, $page-color, 40%);

  a:link, a:visited {
    color: mix($text-color, $page-color, 70%);
    border-bottom: solid 1px mix($accent-color, $page-color, 70%);
  }
  a:hover, a:focus {
    color: $accent-color;
    border-bottom: solid 1px $text-color;
  }
}

