@import '_variables';
@import '_mixins';
@import '_prism-syntax';

::-moz-selection {
  background-color: $bg-selected-text-color;
  color: $selected-text-color;
}
::selection {
  background-color: $bg-selected-text-color;
  color: $selected-text-color;
}

body {
  background-color: $bg-page-color;
  color: $text-color;
  font-family: $body-font;
  font-weight: $body-font-weight;
  font-size: $body-font-size;
  line-height: $body-line-height;
  @include bp(md) {
    font-size: $body-md-font-size;
  }
}

.container-fluid {
  padding: 0px;
}

header {
  background-color: $bg-header-color;
}

.page-content {
  padding-bottom: 4em;
}

h1, h2, h3 {
  color: $hX-color;
  font-family: $hX-font;
  font-weight: $hX-font-weight;
  margin-top:0.8em;
  margin-bottom:0.5em;
  line-height: 1em;
}
h1 {
  font-size: 2em;
  @include bp(md) {
    font-size: 2.5em;
  }
  @include bp(xl) {
    font-size: 3em;
  }
}
h1.title {
  margin-top:0.5em;
  margin-bottom:0.1em;
}
h1.super-title {
  margin-top:0.5em;
  margin-bottom:0.5em;
  font-size: 4em;
  @include bp(md) {
    font-size: 5em;
  }
  @include bp(xl) {
    font-size: 6em;
  }
}
h2 {
  font-size: 1.5em;
  @include bp(md) {
    font-size: 1.75em;
  }
  @include bp(xl) {
    font-size: 2.0em;
  }
}
h3 {
  font-size: 1.25em;
  @include bp(md) {
    font-size: 1.5em;
  }
  @include bp(xl) {
    font-size: 1.75em;
  }
}

.mini-h3, .h3-to-mini h3 {
  color: $hX-color;
  font-family: $hX-font;
  font-weight: $hX-font-weight;
  margin-top:0.5em;
  margin-bottom:0.5em;
  line-height: 1.0em;
  font-size: 1.0em;
  @include bp(md) {
    font-size: 1.15em;
  }
  @include bp(xl) {
    font-size: 1.25em;
  }
}

.widget-title {
  font-family: $widget-title-font;
  color: $widget-title-color;
  font-weight: $widget-title-font-weight;
  margin-top:0.7em;
  margin-bottom:0.7em;
  line-height: 1.0em;
  font-size: 1.0em;
  @include bp(md) {
    font-size: 1.1em;
  }
  @include bp(xl) {
    font-size: 1.25em;
  }
}

.star-col-widget {
  padding-bottom: 20px;
  border-top: 2px solid $border-color;
  border-bottom: 2px solid $border-color;
}

.tag-col-widget {
  padding: 0px 10px 10px;
  border-bottom: 2px solid $border-color;
  background-color: $bg-light-content-block-color;
  .taglist-item {
    font-size: 14px;
    .fas {
      padding: 0px;
    }
    .tag-counter {
      width: 15px;
      line-height: 15px;  
    }
  }
}

.taglistpost-item {
  h3 {
    margin-top: 0.5em;
  }
  .postline {
    margin-bottom: 5px;
  }
}
.next-prev-row {
  margin-top: 40px;
  margin-bottom: 40px
}

.next {
  text-align: right;
  border-top: 2px solid $border-color;
  border-bottom: 2px solid $border-color;
  padding-bottom: 10px;
}

.previous {
  text-align: left;
  border-top: 2px solid $border-color;
  border-bottom: 2px solid $border-color;
  padding-bottom: 10px;
}

.next:hover, .previous:hover {
  background-color: $bg-light-content-block-color;
}

.next-previous-ind {
  font-family: $next-previous-ind-font;
  font-size: $next-previous-ind-font-size;
}

p {
  margin-bottom: 1em;
}

div.postline, div.postline a {
  display: inline;
  color: $postline-color;
  font-family: $postline-font;
  font-weight: $postline-font-weight;
  font-size: $postline-font-size;
  div {
    display: inline;
  }
}
div.photoline {
  text-align: right;
  font-family: $photoline-font;
  font-weight: $photoline-font-weight;
  font-size: $photoline-font-size;
  background: $bg-page-color;
  opacity: 0.7;
  margin: -50px 15px 0px;
  div {
    color: $photoline-color;
    padding-top: 10px;
  }
}
 
div.tags {
  margin-right: 10px;
  .fas {
    font-size: $Xline-fas-size;
    padding-right: 5px;
  }
}

div.postdate {
  .fas {
    font-size: $Xline-fas-size;
    padding-right: 5px;
  }
}

div.taglist-item .fas {
  padding: 0px 10px;
}

.blog-list-item {
  padding: 0px 20px 20px;
  .excerpt {
    margin-top: 20px;
  }
}

.blog-list-item.odd {
    background-color: $bg-light-content-block-color;
}

.excerpt {
  .more {
    display: inline-block;
    line-height: 1rem;
    font-size: $more-font-size;
    padding-left: 10px;
    a {
      color: $anchor-more-color;
      text-decoration: none;
      border-bottom: none;
    }
    a:hover, a:focus {
      color: $anchor-more-hover-color;
    }
  }
}

hr {
  margin: 20px;
  color: $hr-color;
  border: none;
  height: 1px;
  background-color: $bg-hr-color;
}

.separator {
  background: $bg-separator-color;
  height: 10px;
  position: relative;
  width: 100%;
  margin: 0;
}

.separator.bg-image {
  background: url(/images/candy_swirl-200.jpg) repeat-x center center;
}

.separator .zig-zag {
  height: 20px;
  background: url(/images/zig-zag-line.svg) repeat-x center center;
  position: absolute;
  top: -5px;
  width: 100%;
  z-index: 500;
}

.separator .wavy {
  height: 20px;
  background: url(/images/wavy-line.svg) repeat-x center center;
  position: absolute;
  top: -5px;
  width: 100%;
  z-index: 500;
}

.subtitle {
  margin-top: -3em;
  margin-bottom: 6em;
}

ul, ol {
  padding-left: 1em;
}

a:link, a:visited {
  color: $anchor-text-color;
  text-decoration: none;
  border-bottom: $anchor-ul;
}
a:hover, a:focus {
  color: $anchor-text-hover-color;
  border-bottom: $anchor-ul-hover;
}

.candy-logo, a.candy-logo, nav a.candy-logo:link {
  font-weight: $logo-font-weight;
  text-decoration: $logo-text-decoration;
  font-family: $logo-font;
}

nav {
  a:link, a:visited {
    color: $anchor-nav-text-color;
    text-decoration: none;
    border: $anchor-nav-ul;
  }
  .fas, .fab, .far {
    padding-right: 5px;
    padding-left: 10px;
  }
  a:hover, a:focus {
    color: $anchor-nav-text-hover-color;
    border: $anchor-nav-ul-hover;
  }
  a.navbar-brand {
    font-size: 1.7em;
    transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
  }
  a.navbar-brand:hover, a.navbar-brand:focus {
    color: $navbar-brand-hover-color;
  }

  button.navbar-toggler {
    outline-color: $navbar-toggler-outline-color;   
  }  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
}

.main-image img {
  max-width: 100%;
  padding: 10px 0px 5px;
}

code {
  font-family: $code-font;
  font-size: $code-font-size;
  background-color:  $bg-code-pre;
  border: 1px solid $border-color;
  color: $text-color;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
}

code[class*="language-"] {
  font-family: $code-font;
}

pre {
  border: 1px solid $border-color;
  code {
    border: none;
  }
}

blockquote {
  display: block;
  text-align: center;
  border-width: 2px 0;
  border-style: solid;
  border-color: $blockquote-border-color;
  padding: 1.5em 0 0.5em;
  margin: 1.5em 0;
  position: relative;
}
blockquote:before {
  content: '\201C \2003';
  position: absolute;
  top: 0em;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4rem;
  height: 2rem;
  font: $blockquote-before-font;
  text-align: center;
  background-color: white;
}
blockquote:after {
  content: "\2013 \2003" attr(cite);
  display: block;
  text-align: right;
  font-family: $blockquote-person-font;
  font-size: $blockquote-person-font-size;
}

blockquote.bq-dark {
  border-color: $dark-content-block-border-color;
  background-color: $bg-dark-content-block-color;
  color: $dark-content-block-font-color;
}
blockquote.bq-dark:before {
  background-color: $bg-dark-content-block-color;
  border-radius: 25px;
}

.card {
  background-color: $bg-card;
  border-color: $border-color;
  border-radius: unset;
}

.card-header {
  background-color: $bg-card-header;
  border-color: $border-color;
}

td.card-bullet {
  vertical-align: top;
  width: 30px;
}

.tag-counter-list {
  margin-bottom: 2em;
}

.tag-counter {
  margin: 0px 3px;
  border: 1px solid $border-color;
  background-color: $bg-tag-counter-color;
  display: inline-block;
  font-size: $tag-counter-font-size;
  border-radius: 50%;
  width: 20px;
  line-height: 20px;
  text-align: center;
}

a.similar-post-thumb, a.star-post-thumb {
  margin-top: 10px;
  text-decoration: none;
  border-bottom: none;
}

.similar-post, .star-post {
  background-color: $bg-light-content-block-color;
  padding: 10px;
  border: 1px solid $border-color;
  img {
    width: 100%;
  }
}
.similar-post:hover, .star-post:hover {
  background-color: $bg-light-content-block-color-hover;
}

.header-spacer {
  height: 100px;
}

.center, .centre {
  text-align: center;
}

.parallax-window {
  min-height: 400px;
  background: transparent;
  margin-right: 0;
}

p.lead {
  font-size: $lead-font-size;
  @include bp(md) {
    font-size: $lead-md-font-size;
  }
  span.txt-rotate {
    font-family: $hX-font;
    font-weight: $lead-rotate-font-weight;
  }
  span.txt-rotate-space {
    font-family: $hX-font;
    font-weight: $lead-rotate-font-weight;
  }
}

.deploy-netflify-row {
  color: $dark-content-block-font-color;
  background-color: $bg-dark-content-block-color;
  margin-top: 2px;
  .candy-logo {
    color: $pink;
  }
  a:link, a:visited {
    color: $anchor-dark-content-block-text-color;
    text-decoration: none;
    border-bottom: solid 1px $anchor-dark-content-block-ul-color;
  }
  a:hover, a:focus {
    color: $anchor-dark-content-block-text-hover-color;
    border-bottom: solid 1px $anchor-dark-content-block-ul-hover-color;
  }
}

.netlify-button {
  height: 60px;
}
.container-fluid blockquote {
  padding: 1.5em 1.0em 0.5em 1.0em;
}

.cycle-item-b {
  background-color: $bg-light-content-block-color;
  @include bp(lg) {
    background-color: inherit;
  }
}

.cycle-item-a, .cycle-item-b {
  padding-bottom: 10px;
}

footer {
  padding-top: 1em;
  padding-bottom: 0.5em;
  background-color: $bg-footer-color;

  a:link, a:visited {
    color: $anchor-footer-text-color;
    border-bottom: $anchor-footer-ul;
  }
  a:hover, a:focus {
    color:$anchor-footer-text-hover-color;
    border-bottom: $anchor-footer-ul-hover;
  }
  
  .footer-header {
    hr {
      margin: 20px 0px;
    }
  }
  .footer-content {
    .footer-col {
      padding-left: 1em;
    }
    .ul-no-bullets {
      list-style-type: none;
      padding-left: 0px;
    }
    .fab {
      padding: 0px 10px 0px 0px;
    }
  }

}
.footnote-ref>a:before {
  display: inline-block;
  content: " ";
  margin-top: -130px;
  height: 130px;
  visibility: hidden;
}
.footnote-item {
  padding-top: 130px;
  margin-top: -130px;
}

table {
  width: 100%;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  border-bottom: 2px solid $tbl-border-color;

  th,
  td {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid $tbl-border-color;
    border-top: 1px solid $tbl-border-color;
  }

  thead th {
    vertical-align: bottom;
    border-bottom: 2px solid $tbl-border-color;
    border-top: 2px solid $tbl-border-color;
  }
  thead tr {
    background-color: $bg-tbl-head-color;
  }
  tbody tr:nth-of-type(even) {
    background-color: $bg-tbl-stripe-color;
  }

  tbody + tbody {
    border-top: 2px solid $tbl-border-color;
  }
}

