---
permalink: /portfolio/
title: Portfolio
layout: layouts/page.njk
---
<div class="row">
    {%- for photo in collections.photos %}
        <div class="col-6 col-md-4">
            {% include "photo-item.njk" -%}
        </div>
    {%- endfor %}
</div>

