---
permalink: /portfolio/
title: Portfolio
layout: layouts/page.njk
---
<div class="row">
  <div class="col">
    <blockquote cite="Charles Schulz">All I really need is love, but a little candy now and then doesn't hurt!</blockquote>
  </div>
</div>
<div class="row">
    {%- for photo in collections.photos %}
        <div class="col-6 col-md-4">
                <div class="row">
                    <div class="col">
                        <h3><a class="title-href" href="{{ photo.url }}">{{ photo.data.title }}</a></h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col postline">
                        <div class="postdate" style="margin-left: 0px">
                            <i class="fas fa-calendar-day"></i>
                            <div>{{ photo.date | formatDisplayDate }}</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col main-image">
                        <a href="{{ photo.url }}">
                            <img src="/images/{{ photo.data.mainImageFilename }}-{{ photo.data.thumbImageSize }}.{{ photo.data.mainImageExt }}" alt="{{ photo.data.mainImageTitle | safe }}" title="{{ photo.data.mainImageTitle | safe }}">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col postline">
                        <div class="tags">
                            <i class="fas fa-tags"></i>
                            {% for tag in photo.data.tags -%}
                                <div><a href="/tags/#{{ tag }}" class="tag">#{{ tag }}</a></div>
                            {% endfor -%}
                        </div>
                    </div>
                </div>
        </div>
    {%- endfor %}
</div>

