---
permalink: /tags/
title: List of Tags
layout: layouts/base.njk
---
<h1>List of Tags</h1>
{% for tagKey, tagVal in collections.tagList %}
  {% set tagUrl %}/tags/#{{ tagKey }}{% endset %}
  <div class="taglist-item">
    <i class="fas fa-tag"></i>
    <a href="{{ tagUrl | url }}" class="tag">#{{ tagKey }}</a>
    <div class="tag-counter">{{ tagVal }}</div>
  </div>
{% endfor %}
<hr>
{% for tag, pages in collections.tagListPosts %}
  <a name="{{tag}}" class="tag-head"></a>
  <h2>#{{tag}}</h2>
  {% for page in pages %}
    <div class="taglistpost-item">
      <time datetime="{{ page.date }}">{{ page.date | formatDisplayDate }}</time> - <a href="{{ page.url }}">{{ page.data.title }}</a>
    </div>
  {% endfor %}
{% endfor %}
